<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ОТЕЛЬ - RAZER ВАШ РАЗУМНЫЙ ВЫБОР</title>
	<%-include('link')%>
</head>
<body>
	<%-include('header')%>
		<main>
        <div class="parallax-window" data-parallax="scroll" data-image-src="../img/fon-about.jpg">
            <h1>ОТЕЛЬ - RAZER ВАШ РАЗУМНЫЙ ВЫБОР</h1>
        </div>
    </main>
       <section class="about-hotel">
       	<div class="gallery1">
        	<a href="" ><img src="../img/gallery1.jpg" alt=""></a>
       		<a href="" ><img src="../img/gallery1.2.jpg" alt=""></a>
   		</div>
   		<div class="info1">
        <div class="item1">
            <p><ul>«Razer» — современная 2-звездочная гостиница, в которой гармонично сочетаются высокий уровень обслуживания с приемлемой ценовой политикой.</ul></p>
        </div>
        <div class="item1_1">
        	<ul>Основные принципы отеля:
        		<li>гостеприимство</li>
        		<li>забота о комфорте гостей</li>
        		<li>высокий уровень сервиса</li>
        		<li>профессиональный персонал</li>
        		<li>соблюдение порядка и чистоты</li>
        	</ul>
        </div>
 	  </section>
 	  <section class="allinfo">
    	<section class="info2">
    		<div class="item2">
				<ul><p>Отель Razer расположен в самом центре города Запорожья в многофункциональном центре «Менора», который является визитной карточкой города и достопримечательностью мирового масштаба. Это — уникальное архитектурное сооружение и крупнейший в мире еврейский комплекс, аналогов которому нет в мире. Сегодня комплекс «Менора» – это гостеприимный дом, который живёт активной культурной и деловой жизнью, событиями разного масштаба и формата. Жемчужиной центра можно назвать Музей «Память еврейского народа и Холокост в Украине» – третий в мире по величине после американского и израильского.</ul></p>
        	</div>
			<div class="gallery2">
    		<a href="" ><img src="../img/116.jpg" alt=""></a>
				<a href="" ><img src="../img/114.jpg" alt=""></a>
				<a href="" ><img src="../img/gallery3.jpg" alt=""></a>
				<a href="" ><img src="../img/gallery4.jpg" alt=""></a>
			</div>
			<div class="item3">
        		<ul><p>В шаговой доступности от центра «Менора» находятся: хоральная синагога «Золотая Роза», построенная ещё в 1852 году, самая длинная в Европе набережная, парк Т.Г.Шевченко, а также музеи, театры, различные торгово‒развлекательные, центры, бары, кафе, рестораны и прочее.</ul></p>
       		 </div>
       		 </section>
		<section class="info3"> 
			<div class="gallery3">
	  		<a href="" ><img src="../img/08.jpg" alt=""></a>
				<a href="" ><img src="../img/105.jpg" alt=""></a>
				<a href="" ><img src="../img/104.jpg" alt=""></a>
				<a href="" ><img src="../img/106.jpg" alt=""></a>
			</div>
			<div class="item4">
            	<ul><p>Обзорная экскурсия по центру «Менора» неизменно пользуется популярностью как у гостей, так и у жителей города.
Благодаря ей можно:</ul></p>
        </div>
        		<ul class="item5">
        			<li>узнать исторические факты и увидеть старинные фасады Екатеринославских зданий;</li>
        			<li>побывать в отреставрированном особняке купца Пчелкина и своими глазами увидеть уникальные интерьеры изысканных мраморных залов;</li>
        			<li>заглянуть в крупнейшие и красивейшие залы торжеств в Украине;</li>
        			<li>подняться на смотровую площадку 18 этажа и взглянуть на город с высоты птичьего полета.</li>
        		</ul>
       	 	</div>
    	</section>
    	</section>
    <%-include('footer')%>
</body>
</html>