<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Администрирование</title>
	<%-include('link')%>
</head>
<body>
	<section class="fon">
	<div class="addfoto">
		<input type='submit' name='exit' value='Выйти' id="logOut">
		<div class="one"><h1 align="center">RAZER<br>Administration</h1></div>
		<form enctype="multipart/form-data">
			<input type="file" id="photoImg">
			<div class="btn submit">Add</div>
		</form>
		<h4>Добавление фотографии </h4>
		
		<h4>Удаление фотографии </h4>
	</div>
	<div class="NewsAdd">
		<input type="text" placeholder="Header" id="title">
		<textarea placeholder="Content" id="content"></textarea>
		<div class="btn newsSend">Add</div>
	</div>
	</section>
</body>
</html>