<footer>
    <div class="contacts">
        <div class="item">
            <img src="../img/flag.png" alt="">
            <div class="text">
                    Украина, г. Запорожье,
                    ул. Иллича, 6
            </div>
        </div>
        <div class="item">
            <img src="../img/call.png" alt="">
            <div class="text">
                    Бронирование:<br>
                    +38 (056) 717-70-03,<br>
                    +38 (056) 717-70-04<br>
                    <br>
                    Администратор:<br>
                    +38 (056) 717-70-07<br>
                    +38 (067) 653-37-04<br>
            </div>
        </div>
        <div class="item">
            <img src="../img/message.png" alt="">
            <div class="text">
                    info@razer.com
            </div>
        </div>
    </div>
    <div class="tag">
            © 2018 ALL RIGHT RESERVED
    </div>
</footer>