<header>
    <div class="logo">
       <a href="http://localhost:8000"> <img src="../img/razer.png">
    </div>
    <nav class="menu">
        <a href="/about">ОБ ОТЕЛЕ</a>
        <a href="/photogallery">ФОТОГАЛЕРЕЯ</a>
        <a href="/reviews">ОТЗЫВЫ</a>
        <a href="/rooms">НОМЕРА</a>
        <a href="/reservations">БРОНИРОВАНИЕ</a>
        <a href="/contacts">КОНТАКТЫ</a>
        <a href="/admin" id="vhod">ВОЙТИ</a>
    </nav>
</header>