<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добро пожаловать в отель Razer</title>
    <%-include('link')%>
</head>
<body>
    <%- include('header') %>
   <main>
        <div class="parallax-window" data-parallax="scroll" data-image-src="../img/eq_1.jpg">
            <h1>ДОБРО ПОЖАЛОВАТЬ В ОТЕЛЬ <span>«RAZER»</span></h1>
        </div>
   </main>
   <section class="galery">
        <a href="" ><img src="../img/03.jpg" alt=""></a>
        <a href="" ><img src="../img/08.jpg" alt=""></a>
        <a href="" ><img src="../img/07.jpg" alt=""></a>
        <a href="" ><img src="../img/010.jpg" alt=""></a>
   </section>
    <section class="info">
        <div class="item itemBig">
            <p>«Razer» — уютная современная гостиница эконом-класса, которая предлагает высокий уровень комфорта и обслуживания по разумной цене.<br>
                    Отель расположен в самом центре города Запорожье, в уникальном культурно-деловом комплексе «Менора», который стал визитной карточкой города и достопримечательностью мирового масштаба.
                    Теплая и непринужденная атмосфера, доброжелательность персонала, а также индивидуальный подход к каждому посетителю привлекают многих гостей города.</p>
        </div>
        <a href="http://localhost:8000/rooms" class="item "><img class="shadow" src="../img/08.jpg" alt=""><div class="text">Номерной фонд</div></a>
        <a href="http://localhost:8000/reservations" class="item "><img class="shadow" src="../img/011.jpg" alt=""><div class="text">Забронировать</div></a>
        
        <iframe width="1135" height="640" src="https://www.youtube.com/embed/z6ILGJWwhy4?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </section>
    <%- include('footer') %>
</body>
</html>