<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Фотогалерея - Razer</title>
	<%-include('link')%>
</head>
<%-include('header')%>
<body>
	
	<main>
        <div class="parallax-window" data-parallax="scroll" data-image-src="../img/fon-photo.jpg">
            <h1>ФОТОГАЛЕГЕЯ</h1>
        </div>
    </main>
	<section class="photogallery">
        <div class="box">
            <img src="../img/100.jpg" alt="" class="my__img">
            <img src="../img/101.jpg" alt="" class="my__img">
            <img src="../img/102.jpg" alt="" class="my__img">
            <img src="../img/103.jpg" alt="" class="my__img">
            <img src="../img/104.jpg" alt="" class="my__img">
            <img src="../img/105.jpg" alt="" class="my__img">
            <img src="../img/108.jpg" alt="" class="my__img">
            <img src="../img/106.jpg" alt="" class="my__img">
            <img src="../img/108.jpg" alt="" class="my__img">
            <img src="../img/109.jpg" alt="" class="my__img">
            <img src="../img/111.jpg" alt="" class="my__img">
            <img src="../img/112.jpg" alt="" class="my__img">
            <img src="../img/113.jpg" alt="" class="my__img">
            <img src="../img/114.jpg" alt="" class="my__img">
            <img src="../img/115.jpg" alt="" class="my__img">
            <img src="../img/116.jpg" alt="" class="my__img">
            <img src="../img/117.jpg" alt="" class="my__img">
            <img src="../img/128.jpg" alt="" class="my__img">
            <img src="../img/118.jpg" alt="" class="my__img">
            <img src="../img/119.jpg" alt="" class="my__img">
            <img src="../img/120.jpg" alt="" class="my__img">
            <img src="../img/121.jpg" alt="" class="my__img">
            <img src="../img/122.jpg" alt="" class="my__img">
            <img src="../img/123.jpg" alt="" class="my__img">
            <img src="../img/124.jpg" alt="" class="my__img">
            <img src="../img/125.jpg" alt="" class="my__img">
            <img src="../img/126.jpg" alt="" class="my__img">
        </div>
        </section>
        <div id="my__modal" class="my__modal">
        <span class="close" id="close">&times;</span>
        <div class="modal__block" id="modal__block">
            <img id="img01" class="modal__content">
        </div>
        </div>
        <script src="script.js"></script>
	<%-include('footer')%>
</body>
</html>