<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>photo</title>
	<%-include('link')%>
</head>
<body>
	<%-include('header')%>
	<section class="galary">
		<h1>assd валоомткдежэжип</h1>
	</section>
	<%-include('footer')%>
</body>
</html>