<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ОТЗЫВЫ - RAZER</title>
	<%-include('link')%>
</head>
<body>
	<%-include('header')%>
		<main>
        <div class="parallax-window" data-parallax="scroll" data-image-src="../img/fon-otzuvu.jpg">
            <h1>ОТЗЫВЫ</h1>
        </div>
    </main>
    	<section class="reviews">
    		<section class="reviews1">
	            <div class="logo1"> <img src="../img/NAIU_logo.jpg" alt=""><b>Секретариат Национальной Ассамблеи инвалидов Украины</b></div>
            	<div class="caption">
                <div class="text">
                <em>От Секретариата Национальной Ассамблеи инвалидов Украины хотим поблагодарить руководству и коллективу культурно-делового центра «Менора», который является уникальным архитектурным сооружением (аналогов которой не имеет в Украине), за создание надлежащих условий для проведения мероприятий при участии людей с инвалидностью. Отдельная благодарность техническим работникам центра, в том числе работников с инвалидностью за оказанную помощь в проведении тренинга.</em><br>
				<a href="http://www.naiu.org.ua">www.naiu.org.ua</a>
                    </div>
                    </div>
    		</section>
    		<section class="reviews2">
	            <div class="logo2"><img src="../img/silta.png" alt="" width=60px height=60px><b> Компания ООО «Силта-Колор»</b></div>
                <div class="caption1">
                <div class="text">
                <em>Наша компания уже длительное время является корпоративным клиентом отеля Razer. За этот период мы смогли оценить уровень и качество сервиса, доступные по нашим временам цены, клиенториентированность администрации и персонала отеля. Часто бронируем номера для сотрудников и гостей нашей компании, и всегда получали положительные отзывы и благодарность, особенно всем нравятся удобное расположение отеля в центре города, и непосредственное размещение в прекрасном культурном центре «Менора»; также нашим гостям и сотрудникам по душе вкусные и питательные завтраки. Дополнительно мы пользовались услугами конференц-сервиса, и тоже остались довольны, проводили этой зимой собрание и корпоратив в одном из залов Меноры, и селили иногородних сотрудников в номера отеля. Все прошло на высшем уровне, спасибо за организацию и хорошую работу. Рекомендую данный отель, как оптимальное соотношение цены и качества, и надеюсь на дальнейшее наше плодотворное сотрудничество.</em><br>
				<a href="http://www.silta.ua">www.silta.ua</a>
                </div>
                </div>
    		</section>
    	</section>
    	<section class="lastreviews3">
    	<section class="reviews3">
            <p class="forma">Форма обратной связи</p>
                <div class="line"></div>
                	<p>Ваше имя (обязательно)</p><input type="text" name="name">
                	<p>Название компании (обязательно)</p><input type="text" name="company">
           	 		<p>Ваш e-mail (обязательно)</p><input type="text" name="email">
                	<p>Отзыв (обязательно)</p><input type="text" name="review">
                <div class="btn brone">Оставить отзыв</div>
                <div class="line"></div>
    	</section>
    	</section>
	<%-include('footer')%>
</body>
</html>