<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Номера</title>
	<%-include('link')%>
</head>
<body>
	<%-include('header')%>
		<main>
        <div class="parallax-window" data-parallax="scroll" data-image-src="../img/fon-rooms.jpg">
            <h1>НОМЕРА</h1>
        </div>
    </main>
	<%-include('footer')%>
</body>
</html>